# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test
.env.production

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
554_Project_Code/node_modules/.bin/browser-sync
554_Project_Code/node_modules/.bin/csv2json
554_Project_Code/node_modules/.bin/csv2tsv
554_Project_Code/node_modules/.bin/dev-ip
554_Project_Code/node_modules/.bin/dsv2dsv
554_Project_Code/node_modules/.bin/dsv2json
554_Project_Code/node_modules/.bin/json2csv
554_Project_Code/node_modules/.bin/json2dsv
554_Project_Code/node_modules/.bin/json2tsv
554_Project_Code/node_modules/.bin/lt
554_Project_Code/node_modules/.bin/mime
554_Project_Code/node_modules/.bin/throttleproxy
554_Project_Code/node_modules/.bin/tsv2csv
554_Project_Code/node_modules/.bin/tsv2json
554_Project_Code/node_modules/browser-sync/LICENSE
554_Project_Code/node_modules/browser-sync/package.json
554_Project_Code/node_modules/browser-sync/readme.md
554_Project_Code/node_modules/browser-sync/certs/gen.sh
554_Project_Code/node_modules/browser-sync/certs/server.crt
554_Project_Code/node_modules/browser-sync/certs/server.csr
554_Project_Code/node_modules/browser-sync/certs/server.key
554_Project_Code/node_modules/browser-sync/cli-options/opts.recipe.json
554_Project_Code/node_modules/browser-sync/cli-options/opts.reload.json
554_Project_Code/node_modules/browser-sync/cli-options/opts.start.json
554_Project_Code/node_modules/browser-sync/templates/cli-template.js
554_Project_Code/node_modules/browser-sync/templates/connector.tmpl
554_Project_Code/node_modules/browser-sync/templates/script-tags-simple.tmpl
554_Project_Code/node_modules/browser-sync/templates/script-tags.tmpl
554_Project_Code/node_modules/d3-dsv/LICENSE
554_Project_Code/node_modules/d3-dsv/package.json
554_Project_Code/node_modules/d3-dsv/README.md
554_Project_Code/node_modules/d3-dsv/bin/dsv2dsv.js
554_Project_Code/node_modules/d3-dsv/bin/dsv2json.js
554_Project_Code/node_modules/d3-dsv/bin/json2dsv.js
554_Project_Code/node_modules/d3-dsv/src/autoType.js
554_Project_Code/node_modules/d3-dsv/src/csv.js
554_Project_Code/node_modules/d3-dsv/src/dsv.js
554_Project_Code/node_modules/d3-dsv/src/index.js
554_Project_Code/node_modules/d3-dsv/src/tsv.js
554_Project_Code/node_modules/dev-ip/.jshintrc
554_Project_Code/node_modules/dev-ip/.npmignore
554_Project_Code/node_modules/dev-ip/.travis.yml
554_Project_Code/node_modules/dev-ip/example.js
554_Project_Code/node_modules/dev-ip/LICENSE-MIT
554_Project_Code/node_modules/dev-ip/package.json
554_Project_Code/node_modules/dev-ip/README.md
554_Project_Code/node_modules/dev-ip/test/.jshintrc
554_Project_Code/node_modules/dev-ip/test/devip.js
554_Project_Code/node_modules/dev-ip/test/fixtures/resp-multiple.js
554_Project_Code/node_modules/dev-ip/test/fixtures/resp-none.js
554_Project_Code/node_modules/dev-ip/test/fixtures/resp-single.js
554_Project_Code/node_modules/localtunnel/.eslintrc.js
554_Project_Code/node_modules/localtunnel/.travis.yml
554_Project_Code/node_modules/localtunnel/CHANGELOG.md
554_Project_Code/node_modules/localtunnel/LICENSE
554_Project_Code/node_modules/localtunnel/localtunnel.js
554_Project_Code/node_modules/localtunnel/localtunnel.spec.js
554_Project_Code/node_modules/localtunnel/package.json
554_Project_Code/node_modules/localtunnel/README.md
554_Project_Code/node_modules/localtunnel/bin/lt.js
554_Project_Code/node_modules/mime/cli.js
554_Project_Code/node_modules/mime/LICENSE
554_Project_Code/node_modules/mime/mime.js
554_Project_Code/node_modules/mime/package.json
554_Project_Code/node_modules/mime/README.md
554_Project_Code/node_modules/mime/types.json
554_Project_Code/node_modules/stream-throttle/.npmignore
554_Project_Code/node_modules/stream-throttle/AUTHORS
554_Project_Code/node_modules/stream-throttle/index.js
554_Project_Code/node_modules/stream-throttle/LICENSE
554_Project_Code/node_modules/stream-throttle/package.json
554_Project_Code/node_modules/stream-throttle/README.md
554_Project_Code/node_modules/stream-throttle/bin/throttleproxy.js
554_Project_Code/node_modules/stream-throttle/src/throttle.js
554_Project_Code/node_modules/stream-throttle/test/throttle_test.js
554_Project_Code/node_modules/*
